{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "orders/styles/style.css" %}">

    <link rel="icon" href="{% static "orders/images/pizza.png" %}" type="image/gif" sizes="16x16">

    <title>Eat pizza!</title>
  </head>
  <body>

    <div id="navbar">

      <img src="{% static "orders/images/pizza.png" %}" alt="Pizza" width="55" height="55">
      <span id="title">Eat Pizza!</span>

      <span class="float-right" id="logged-in">

        <span>Logged in as: </span>
        <b>{{username}} </b>
        <a href="{% url 'logout' %}" class="link ml-1"> Log out</a>

      </span>

    </div>

    <div id="left-nav" class="mt-4">

      <div class="pl-2">
        <b>Menu</b>
      </div>

      <div class="p-3">
        <img src="{% static "orders/images/pizza2.png" %}" alt="Pizza" width="40" height="40">
        <a href="#" onclick="show_items(event)" id="pizza-menu" class="link">
          Pizza
        </a>
      </div>

      <div class="p-3">
        <img src="{% static "orders/images/sub.png" %}" alt="Subs" width="50" height="50">
        <a href="#" onclick="show_items(event)" class="link">
          Sub
        </a>
      </div>

      <div class="p-3">
        <img src="{% static "orders/images/pasta.png" %}" alt="Pasta" width="40" height="40">
        <a href="#" onclick="show_items(event)" class="link">
          Pasta
        </a>
      </div>

      <div class="p-3">
        <img src="{% static "orders/images/salad.png" %}" alt="Salad" width="40" height="40">
        <a href="#" onclick="show_items(event)" class="link">
          Salad
        </a>
      </div>

      <div class="p-3">
        <img src="{% static "orders/images/dinner.png" %}" alt="Dinner platters" width="40" height="40">
        <a href="#" onclick="show_items(event)" class="link">
          Dinner platter
        </a>
      </div>

      <div class="pl-2 pt-3">
        <b>Cart</b>
      </div>

      <div class="p-3">

        <div class="">
          <img src="{% static "orders/images/cart.png" %}" alt="Cart" width="40" height="40">
          <a href="#" class="link" data-toggle="modal" data-target="#exampleModalLong">
            View your cart
          </a>
        </div>

      </div>

    </div>

    <div id="main" class="float-right">

      <div id="items">

        <div id="menu-top">

          <span id="menu-title">- Special Pizza -</span>

        </div>

        <div class="mt-5" id="menu-content">

          <span class="special-pizza">- Extra Cheese</span>
          <span class="special-pizza">- Choose 5 toppings</span>
          <span class="special-pizza">- Choose a pasta for free</span>
          <span class="special-pizza">- Only for 30$</span>

          <button type="button" name="button" class="order-btn btn mt-3" id="order-btn"> Order now </button>

        </div>

      </div>

    </div>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-body">

            <span>Sum: <span id="money">$0</span></span>

            <br>
            <br>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn" id="order-cart-btn">Order</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="topping-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="color:black">Toppings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="topping-modal-body" style="color:black">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn submit" id="choose_btn" onclick="add_pizza()">Choose</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="waiting-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body" id="waiting-modal-body" style="color:black">
            Please wait...
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript">

      var sum = 0;

      var foods = {{ food|safe }};
      var toppings = {{toppings|safe}};

      function keepCount(limit) {

        $('.custom-checkbox').on('change', function() {
           if($('.custom-checkbox:checked').length > limit) {
               this.checked = false;
           }
        });

      }

      function show_items(e) {

        var name = event.target.innerHTML.trim();

        $("#menu-content").empty();
        $("#menu-title").html(name);

        name = name.toLowerCase();

        for (food of foods){

          if (food.type.trim() == name) {

            if (food.can_have_topping && food.exact_number_of_toppings <= 5){

              var div = $('<div />');

              var span = $('<span />').addClass('normal-food').html(food.name +
              ' (Small)' + ' $' + food.small_price);
              span.attr("data-name",  food.name + "-" + food.small_price.toString())
              var add_btn = $('<button />').addClass('add-btn btn mb-1').
                html('<img src="{% static "orders/images/add.png" %}" width="30" height="30" />');
              add_btn.click(add_cart);

              div.append(span);
              div.append(add_btn);

              $("#menu-content").append(div);

              var div = $('<div />');

              var span = $('<span />').addClass('normal-food').html(food.name +
              ' (Large)' + ' $' + food.large_price);
              span.attr("data-name",  food.name + "-" + food.large_price.toString())
              var add_btn = $('<button />').addClass('add-btn btn mb-1').
                html('<img src="{% static "orders/images/add.png" %}" width="30" height="30" />');
              add_btn.click(add_cart);

              div.append(span);
              div.append(add_btn);

              $("#menu-content").append(div);

            }
            else {

              if (food.large_price == 0) {

                var div = $('<div />');

                var span = $('<span />').addClass('normal-food').html(food.name +
                ' ' + ' $' + food.small_price);
                span.attr("data-name", food.name + "-" + food.small_price.toString())
                var add_btn = $('<button />').addClass('add-btn btn mb-1').
                  html('<img src="{% static "orders/images/add.png" %}" width="30" height="30" />');
                add_btn.click(add_cart);

                div.append(span);
                div.append(add_btn);

                $("#menu-content").append(div);

              }
              else {

                var div = $('<div />');

                var span = $('<span />').addClass('normal-food').html(food.name +
                ' ' + ' (Small)' + ' $' + food.small_price);
                span.attr("data-name", food.name + "-" + food.small_price.toString())
                var add_btn = $('<button />').addClass('add-btn btn mb-1').
                  html('<img src="{% static "orders/images/add.png" %}" width="30" height="30" />');
                add_btn.click(add_cart);

                div.append(span);
                div.append(add_btn);

                $("#menu-content").append(div);

                var div = $('<div />');

                var span = $('<span />').addClass('normal-food').html(food.name +
                ' ' + ' (Large)' + ' $' + food.large_price);
                span.attr("data-name", food.name + "-" + food.large_price.toString())
                var add_btn = $('<button />').addClass('add-btn btn mb-1').
                  html('<img src="{% static "orders/images/add.png" %}" width="30" height="30" />');
                add_btn.click(add_cart);

                div.append(span);
                div.append(add_btn);

                $("#menu-content").append(div);

              }


            }

          }

        }

      }

      // localStorage.clear();

      function add_cart(e) {

        data = e.target.parentElement.parentElement.firstChild.getAttribute("data-name").split("-");
        name = data[0]
        price = parseFloat(data[1])

        for (food of foods){

          if (food.name == name){

            if (food.can_have_topping == 1){

              for (topping of toppings){

                if (topping.food == food.name){

                  $("#topping-modal-body").empty();

                  count = "1"

                  for (item of topping.toppings){

                    var br = $('<br />')

                    if (food.exact_number_of_toppings != 6){

                      var label = $('<label />').html(item).attr({
                        for: "checkbox" + count
                      });

                    }
                    else {

                      var label = $('<label />').html(item + " + $0.50").attr({
                        for: "checkbox" + count
                      });

                    }
                    var input = $('<input />').attr({
                      id: "checkbox" + count,
                      name: "checkbox",
                      type: "checkbox",
                      value: item,
                      "data-limit" : food.exact_number_of_toppings,
                      "data-food" : name + "-" + price.toString()
                    }).addClass("custom-checkbox");

                    $("#topping-modal-body").append(input);
                    $("#topping-modal-body").append(label);
                    $("#topping-modal-body").append(br);

                    count = (parseInt(count) + 1).toString();

                  }

                  if (food.exact_number_of_toppings != 6){
                    keepCount(food.exact_number_of_toppings);
                  }

                }

              }

              $("#topping-modal").modal('toggle');

            }
            else {

              if (food.small_price == price){
                var cart = JSON.parse(localStorage.getItem("cart"));
                cart.push(name + "- Small"  + " $" + price.toString());
                localStorage.setItem("cart", JSON.stringify(cart));
              }
              else if (food.large_price == price){
                var cart = JSON.parse(localStorage.getItem("cart"));
                cart.push(name + "- Large"  + " $" + price.toString());
                localStorage.setItem("cart", JSON.stringify(cart));
              }

              var br = $('<br />')

              sum += price;

              $("#modal-body").append(name + " - $" + price.toString());
              $("#modal-body").append(br);
              document.getElementById("money").innerHTML = "$" + sum.toString();

            }

          }

        }

      }

      function add_pizza(e) {

        var limit = parseInt(document.getElementById("checkbox1").getAttribute("data-limit"));
        var food_name = document.getElementById("checkbox1").getAttribute("data-food").split("-");
        var name = food_name[0];
        var price = parseFloat(food_name[1]);


        if($('.custom-checkbox:checked').length < limit && limit != 6) {

          alert("You need to choose " + limit + " items");
          return false;

        }
        else {

          var chosen_toppings = []

          $(".custom-checkbox:checked").each(function(){
              chosen_toppings.push($(this).val());
          });

          for (food of foods){

            if (food.small_price == price) {



              if (food.exact_number_of_toppings == 6){

                price += chosen_toppings.length * 0.50
                var cart = JSON.parse(localStorage.getItem("cart"));
                cart.push(name + "- Small" + " (" + chosen_toppings + ")" + " $" + price.toString());
                localStorage.setItem("cart", JSON.stringify(cart));

              }
              else{

                var cart = JSON.parse(localStorage.getItem("cart"));
                cart.push(name + "- Small" + " (" + chosen_toppings + ")" + " $" + price.toString());
                localStorage.setItem("cart", JSON.stringify(cart));

              }

            }
            else if (food.large_price == price) {

              if (food.exact_number_of_toppings == 6){

                price += chosen_toppings.length * 0.50;

                var cart = JSON.parse(localStorage.getItem("cart"));
                cart.push(name + "- Large" + " (" + chosen_toppings + ")" + " $" + price.toString());
                localStorage.setItem("cart", JSON.stringify(cart));

              }
              else{

                var cart = JSON.parse(localStorage.getItem("cart"));
                cart.push(name + "- Large" + " (" + chosen_toppings + ")" + " $" + price.toString());
                localStorage.setItem("cart", JSON.stringify(cart));

              }

            }

          }

          var br = $('<br />')

          sum += price;

          $("#modal-body").append(name + " - " + " (" + chosen_toppings + ") $" + price.toString());
          $("#modal-body").append(br);
          document.getElementById("money").innerHTML = "$" + sum.toString();

          $('#topping-modal').modal('toggle')

        }

      }

      document.addEventListener('DOMContentLoaded', (event) => {

        var cart = JSON.parse(localStorage.getItem("cart"));

        if (cart === undefined || cart === null || cart.length === 0){

          var list = [];
          localStorage.setItem("cart", JSON.stringify(list));

        }
        else {

          for (item of cart){

            var br = $('<br />')

            price = parseFloat(item.split('$')[1]);
            sum += price;

            $("#modal-body").append(item);
            $("#modal-body").append(br);
            document.getElementById("money").innerHTML = " $" + sum.toString();

          }

        }

        $("#order-cart-btn").click(function() {

          $('#waiting-modal').modal("toggle");
          $('#exampleModalLong').modal('toggle');

          $.ajax({
              url: "/order",
              type: "POST",
              data: {
                  cart: localStorage.getItem("cart"),
                  price: sum,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success : function(data) {
                localStorage.clear();
                $("#modal-body").empty();
                alert("Your order has been received!");
                location.reload();
              },
              complete: function(){
                $('#waiting-modal').modal("toggle");
              }
          });

        });


      });

    </script>

  </body>
</html>
