<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="alert alert-danger" role="alert" id="alert">
      A simple danger alert—check it out!
    </div>

    <form class="" action="{% url 'verify' %}" method="post" id="login-form">

      {% csrf_token %}

      <input type="text" name="name" value="" id="name">
      <input type="text" name="lastname" value="" id="lastname">
      <input type="text" name="email" value="" id="email">
      <input type="text" name="username" value="" id="username">
      <input type="text" name="password" value="" id="password">

      <button type="submit" name="button">submit</button>

    </form>

    <a href="{% url 'login' %}">Already have an account? Log in</a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script type="text/javascript">

      users = []

    </script>

    {% for user in users %}

      <script type="text/javascript">
        users.push("{{user.username}}")
      </script>

    {% endfor %}

    <script type="text/javascript">
      $(document).ready( function(){
        $("#alert").hide()

        $("#login-form").submit( function() {
          username_entered = $("#username").val();

          if (users.includes(username_entered)){

            $("#alert").show();

            return false;

          }
        });
      });

    </script>

  </body>
</html>
